<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleDisplayName</key>
  <string>Neovide</string>
  <key>CFBundleExecutable</key>
  <string>neovide</string>
  <key>CFBundleIconFile</key>
  <string>Neovide.icns</string>
  <key>CFBundleIdentifier</key>
  <string>com.neovide.neovide</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Neovide</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>@VERSION@</string>
  <key>CFBundleVersion</key>
  <string>20221116.213550</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>CFBundleSupportedPlatforms</key>
  <array>
  <string>MacOSX</string>
  </array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>config</string>
				<string>editorconfig</string>
				<string>ini</string>
				<string>cfg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Configuration file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
				<string>TUTX</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>css</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CSS</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
				<string>TUTX</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>htm</string>
				<string>html</string>
				<string>xhtml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>HTML document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
				<string>TUTX</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>js</string>
				<string>jscsrc</string>
				<string>jshintrc</string>
				<string>mjs</string>
				<string>cjs</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Javascript file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
				<string>TUTX</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>json</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JSON document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
				<string>TUTX</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>markdown</string>
				<string>md</string>
				<string>mdoc</string>
				<string>mdown</string>
				<string>mdtext</string>
				<string>mdtxt</string>
				<string>mdwn</string>
				<string>mkd</string>
				<string>mkdn</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Markdown document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
				<string>TUTX</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ts</string>
				<string>svelte</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TypeScript file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
				<string>TUTX</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tsx</string>
				<string>jsx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>React source code</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
				<string>TUTX</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ascx</string>
				<string>csproj</string>
				<string>dtd</string>
				<string>plist</string>
				<string>wxi</string>
				<string>wxl</string>
				<string>wxs</string>
				<string>xml</string>
				<string>xaml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XML document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
				<string>TUTX</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>eyaml</string>
				<string>eyml</string>
				<string>yaml</string>
				<string>yml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>YAML document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>utxt</string>
				<string>TUTX</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
  </array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Neovide</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>neovide</string>
			</array>
		</dict>
	</array>
  <key>CSResourcesFileMapped</key>
  <true/>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.productivity</string>
  <key>LSMinimumSystemVersion</key>
  <string>10.11</string>
  <key>LSRequiresCarbon</key>
  <true/>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright (c) Keith 2021. All rights reserved.</string>
  <key>LSEnvironment</key>
  <dict>
    <key>NEOVIDE_FRAME</key>
    <string>buttonless</string>
    <key>NEOVIDE_MULTIGRID</key>
    <string>true</string>
    <key>PATH</key>
    <string>@PATH@:/usr/local/bin:/usr/bin:/bin</string>
    <key>NEOVIDE_NO_VSYNC</key>
    <string>true</string>
    <key>NEOVIM_BIN</key>
    <string>@NEOVIM_BIN@</string>
  </dict>
</dict>
</plist>
